/* Global styles  */
body { background-color: #efefef; }
a, a:visited { color: #17a7fd; }
a:hover { color: #0f7bbb; }
.post-title a {
    text-decoration: unset;
}

/* Layout definition  */
body {
    width: 800px;
    margin: auto;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 1.5em;
}

#preamble {
    background-color: #FFFFFF;
    padding: 50px 50px 20px;
}

#content {
    background-color: #FFFFFF;
    padding: 10px 50px;
}
#postamble {
    margin: 50px 0 20px 0;
    font-size: 0.65em;
}

.taglist {
    margin: 20px 0 10px 0;
}

.taglist::after {
    content: " ";
    display: block;
    margin-bottom: 50px;
    padding: 10px 50px;
    border-bottom: 1px solid #555555;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header h1 > a {
    font-weight: bold;
    /* font-size: 1.5em; */
    text-decoration: none;
}
.header ul {
    list-style: none;
}
.header ul li {
    float: left;
    margin-left: 0.5em;
}

/* Code blocks */
.org-src-container {
    border: 1px solid #d7d7d7;
    padding: 0.5em;
    background-color: #000000;
    color: #ffffff;
}
p > code {
    color: #313131;
    background-color: #f0f0f0;
    padding: 2px;
}
pre {
    line-height: 1.25em;
}

/* Block Quotes */
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-family: arial;
    font-weight: bold;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 1.5em 10px;
}
blockquote p {
  display: inline;
}

/* Images */
figure {
    text-align: center;
    margin:0;
}
